[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/mathfu"]
	path = ThirdParty/mathfu
	url = https://github.com/google/mathfu.git
[submodule "thirdParty/mathfu"]
	path = thirdParty/mathfu
	url = https://github.com/google/mathfu.git
